services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json

  bff:
    build:
      context: ./bff
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
      - BACKEND_URL=http://backend:8080
      - FRONTEND_URL=http://frontend:80
      - PORT=8081
    depends_on:
      - backend

  frontend:
    platform: linux/amd64
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env.production
    environment:
      - BFF_APP_API_URL=http://bff:8081
      - PORT=80
    depends_on:
      - bff
